h1{
  margin-top: 150px;
  font-size:50px;
  text-align:center;
}
.iphone-wrapper{
  background-color: grey;
  width:400px;
  border:1px solid black;
  height:900px;
}
.button-row{
  /*margin-top: 100px;*/
  display:flex;
  justify-content:center;
}
.fa-times:before {
    margin-left: 370;
    content: "\f00d";
} /* this is x on corner that i moved */
.button.square.gold {
    margin-top: 175;
    background-color: gold;
}
